nav.navbar.navbar-default(role='navigation')
    ul.nav.navbar-nav
      li
        a(href='/') Main
    ul.nav.navbar-nav.navbar-right
      li.btn
        if currentUser
          // change on button
          a(href='') Logout
        else
          a(href='/login') Login
