nav.navbar.navbar-default(role='navigation')
    ul.nav.navbar-nav
      li
        a(href='/') Main
    ul.nav.navbar-nav.navbar-right
      li.btn
        if currentUser
          a(href='', onclick="$('<form method=POST action=/logout>').submit();return false") Logout
        else
          a(href='/login') Login
