extends ../layout/layout
block vars
  - var title= 'Account'

block content
  h1 My account

  h4 Name
  p= user.username

  h4 Created at
  p= user.created

  if currentUser.id === user.id
    a(href='/users/#{user.id}/edit').btn.btn-primary Edit account