extends ../layout/layout
block vars
  - var title= 'All articles'

block content
  h1 All articles

  table.table.table-condensed.table-striped
    thead
      tr
        th title
        th created
    tbody
      each article in articles
        tr
          td
            a(href='/articles/#{article.id}')= article.title
          td= article.created