doctype html
html
  block vars
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/bower_components/bootstrap-star-rating/css/star-rating.css")

    script(src="/bower_components/jquery/dist/jquery.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
    script(src="/bower_components/bootstrap-star-rating/js/star-rating.js")
  body
    header
      block header

    section.container
      include ../partials/topNavigation

      .col-lg-9
        block content
      .col-lg-3
        if currentUser
          include ../partials/sidebar
    footer
      block footer
